{%extends 'layout.html'%}

{%  block body %}
<div class="jumbotron text-center">
    {% with messages = get_flashed_messages(category_filter=["message"]) %}
        {% if messages %}
            <div class="alert-message block-message message">
              <a class="close" href="#">×</a>
              <ul>
                {% for msg in messages %}
                    {{ msg }}
                {% endfor -%}
              </ul>
            </div>
        {% endif %}
    {% endwith %}
</div>

<p>
  <a class="btn btn-primary" data-toggle="collapse" href="studentList" role="button" aria-expanded="false" aria-controls="collapseExample">
    Student List
  </a>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
  </div>
</div>
{% endblock %}
